# Python cache
__pycache__/
*.py[cod]

# Entornos virtuales
.venv/
venv/
env/

# Archivos de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos de IDE / editores
.vscode/
.idea/

# Archivos de pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/

# Build / dist
build/
dist/
*.egg-info/
